.example-card {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-top: 50px;
  max-height:auto;
  margin-bottom: 50Px;
}
.full-width{
margin-inline: auto;
display: grid;
}

